* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(210, 46%, 95%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.container {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}
.daniel-review,
.jonathan-review,
.jeanette-review,
.patrick-review,
.kira-review {
  padding-block: 20px;
  padding-inline: 30px;
  border-radius: 10px;
}
.daniel-review {
  background-color: hsl(263, 55%, 52%);
  position: relative;
}
.icon {
  position: absolute;
  right: 90px;
  top: 1px;
}
.jonathan-review {
  background-color: hsl(217, 19%, 35%);
}

.jeanette-review {
  background-color: hsl(0, 0%, 100%);
}
.patrick-review {
  background-color: hsl(219, 29%, 14%);
}
.kira-review {
  background-color: hsl(0, 0%, 100%);
}
h5 {
  color: hsl(0, 0%, 81%);
  font-weight: 500;
}
.girl-name {
  color: hsl(219, 29%, 14%);
  font-weight: 500;
}
h6 {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
  font-weight: 500;
}
.girl-statu {
  color: hsl(219, 29%, 14%);
  opacity: 50%;
  font-weight: 500;
}
h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  margin-block: 20px;
}
#girl-reaction {
  color: hsl(219, 29%, 14%);
  font-weight: 600;
}
p {
  color: hsl(0, 0%, 81%);
  opacity: 70%;
  font-size: 13px;
  font-weight: 500;
}
#girl-review {
  color: hsl(219, 29%, 14%);
  opacity: 70%;
}
.img {
  border-radius: 100%;
}
/* flexbox */
.info-content {
  display: flex;
  gap: 15px;
  align-items: center;
}
.kira-review {
  display: flex;
  flex-direction: column;
}
.content-item2 {
  flex: 1;
}
/* CSS Grid */
.container {
  display: grid;
  grid-template-columns: repeat(4, 243px);
  grid-template-rows: repeat(2, 1fr);
  gap: 35px;
  justify-items: center;
  align-content: center;
}
.daniel-review {
  grid-column: 1/3;
}
.jeanette-review {
  grid-column: 1/2;
}
.patrick-review {
  grid-column: 2/4;
}
.kira-review {
  grid-column: 4/5;
  grid-row: 1/-1;
}
.attribution {
  font-size: large;
  margin-top: 20px;
  text-align: center;
}
